
# Created by https://www.gitignore.io/api/ltspice
# Edit at https://www.gitignore.io/?templates=ltspice

### LTspice ###
# gitignore template for LTspice
# website: https://www.analog.com/en/design-center/design-tools-and-calculators/ltspice-simulator.html

# Logfile
*.log

# Simulation Outputs
*.raw
*.fft

# Netlist
*.net

# End of https://www.gitignore.io/api/ltspice
